*.exp
*.tmp
*.blend1
*.blend2
*.blend3
*.fbx
*.kdev4
HeliumRain.opensdf
HeliumRain.sdf
HeliumRain.sln
HeliumRain.VC.db
HeliumRain.VC.VC.opendb
HeliumRain.kdev4
HeliumRain.pro
HeliumRain.pro.user.*
HeliumRain.pro.user
HeliumRain.pro.user.3.2-pre1
HeliumRain.workspace
HeliumRainCodeCompletionFolders.txt
HeliumRainCodeLitePreProcessor.txt
HeliumRainConfig.pri
HeliumRainDefines.pri
HeliumRainHeader.pri
HeliumRainIncludes.pri
HeliumRainSource.pri
/CMakeLists.txt
Makefile
core
Binaries/
Build/WindowsNoEditor/
DerivedDataCache/
Intermediate/
Releases/
Saved/
HeliumRain-Content-Sources/
Plugins/InternalComponentVisualizer/Binaries
Plugins/JoystickPlugin/ThirdParty/SDL2/SDL/
Plugins/JoystickPlugin/ThirdParty/SDL2/build-SDL/
.vs/
Scripts/system.json
Scripts/steam.json
Config/Localization/Game_Compile.ini
Build/LinuxNoEditor/
Scripts/itch.json
