{
	"TargetName" : "HeliumRainEditor",
	"Platform" : "Win64",
	"Configuration" : "Development",
	"BuildId" : "d19438ed-dfab-4283-a7c5-66a60e5ab742",
	"Version" : 
	{
		"MajorVersion" : 4,
		"MinorVersion" : 11,
		"PatchVersion" : 0,
		"Changelist" : 2843242,
		"IsLicenseeVersion" : 0,
		"BranchName" : "++UE4+Release-4.11"
	},
	"BuildProducts" :
	[
		{
			"Path" : "$(ProjectDir)\\Plugins\\InternalComponentVisualizer\\Binaries\\Win64\\UE4Editor-InternalComponentVisualizer.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\InternalComponentVisualizer\\Binaries\\Win64\\UE4Editor-InternalComponentVisualizer.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Plugins\\InternalComponentVisualizer\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-InternalComponentVisualizer.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Binaries\\Win64\\UE4Editor-HeliumRain.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Binaries\\Win64\\UE4Editor-HeliumRain.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-HeliumRain.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Binaries\\Win64\\UE4Editor-HeliumRainLoadingScreen.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)\\Binaries\\Win64\\UE4Editor-HeliumRainLoadingScreen.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)\\Intermediate\\Build\\Win64\\UE4Editor\\Development\\UE4Editor-HeliumRainLoadingScreen.lib",
			"Type" : "ImportLibrary"
		}
	],
	"RuntimeDependencies" :
	[
	]
}